* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

/* Navber Style  */

.nav-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navber-list {
  display: flex;
  gap: 48px;
}
.nav-right a {
  text-decoration: none;
  color: #252432;
}
.nav-right li {
  list-style: none;
}
#shop {
  color: #8987a1;
}
#about {
  color: #8987a1;
}
#cart {
  color: #252432;
}
