* {
  margin: 0;
  padding: 0;
}

/* font  */

.note-serif {
  font-family: "Roboto", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

/* Navber Style  */

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 30px;
}
.navber-list {
  display: flex;
  gap: 48px;
  font-weight: bold;
}
.nav-right a {
  text-decoration: none;
  color: #252432;
}
.nav-right li {
  list-style: none;
}
#shop {
  color: #8987a1;
}
#about {
  color: #8987a1;
}
#cart {
  color: #252432;
}

/* header style  */

.conten {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 250px;
}
.content-title {
  font-size: 4.06rem;
  font-weight: bold;
}
.content-description {
  font-size: 1.37rem;
  opacity: 50%;
  width: 570px;
  margin-top: 13px;
}
#content-df {
  color: #e95a08;
}

/* Our Plant Section Style */
.m-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
}
.m-description {
  font-size: 1.37rem;
  opacity: 50%;
  text-align: center;
  width: 888px;
  margin: 0 auto;
  margin-top: 16px;
}

/* card styles  */

.card {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
  row-gap: 20px;
}

.box-1 {
  width: 270px;
  width: 325px;
  margin: 0;
}
.card-image {
  width: 350px;
}

.content-1 {
  font-size: 1.37rem;
  color: #111111;
  text-align: center;
}
.content-2 {
  font-size: 1.37rem;
  color: #111111;
  text-align: center;
}

.ptn-parimary {
  color: #ffffff;
  background-color: #e95a08;
  padding: 19px 90px;
  border: none;
  width: 350px;
}

/* Flower Plant section  */
.flower-section {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 210px;
}
.flower-title {
  font-size: 3.12rem;
  font-weight: bold;
  margin-top: 40px;
}
.flower-description {
  opacity: 50%;
  font-size: 1.37rem;
  margin-top: 25px;
}
.right-site {
  margin-left: 300px;
}
.flower-image {
  width: 600px;
}
.flower-description li {
  margin-top: 45px;
}
#flower-plant-image {
  position: absolute;
  width: 286px;
  margin-top: -110px;
  margin-left: -150px;
}

/* Latest  Deals Secion  */

.latest-deals-title {
  font-size: 3.12rem;
  font-weight: bold;
  text-align: center;
  margin-top: 133px;
}
#dd-f {
  color: #e95a08;
}
.latest-deals-description {
  opacity: 50%;
  font-size: 1.37rem;
  text-align: center;
  width: 888px;
  margin: 0 auto;
  margin-top: 16px;
}

.latest-deals-banner {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-top: 120px;
}

.box-2 {
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 367px;
  height: 200px;
  display: grid;
  place-content: center;
  border-radius: 14px;
}
.banner-title {
  color: #ffffff;
  font-size: 1.12rem;
  text-align: center;
}
.banner-description {
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}
.box-3 {
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 367px;
  height: 200px;
  display: grid;
  place-content: center;
  border-radius: 14px;
  margin-top: 25px;
}

.box-4 {
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  border-radius: 22px;
}
.banner-title-1 {
  color: #ffffff;
  font-size: 3.12rem;
  text-align: center;
}

.banner-description-1 {
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 10px;
}

/* Contact Section Style  */

.contact-section {
  background-image: url(../assets/news-letter-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 120px;
  height: auto;
  display: grid;
  place-content: center;
}

.contact-title {
  color: #ffffff;
  font-size: 3.12rem;
  padding-top: 200px;
  text-align: center;
}
.btn-parimary {
  color: #ffffff;
  background-color: #e95a08;
  border: none;
  padding: 20px 53px;
  margin-left: -5px;
}
.input-dd {
  padding: 19px 540px 19px 20px;
  margin-bottom: 200px;
  margin-top: 25px;
}

/* Footer Syles  */

.footer-section {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.footer-title {
  opacity: 70%;
  width: 360px;
  margin-top: 16px;
}

.footer-link {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
  opacity: 80%;
}
.footer-link a {
  text-decoration: none;
  color: #252432;
}
.footer-links {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(1, 1fr);
  opacity: 80%;
}
.footer-links a {
  text-decoration: none;
  color: #252432;
}
#links-more {
  margin-left: 30px;
}
